#root {

  margin: 0 auto;
  padding:2rem;
  text-align: center;
  --royal-blue-traditional: #0a2463ff;
  --slate-gray: #6e7e85ff;
  --honeydew: #e5f4e3ff;
  --lavender-pink: #efaac4ff;
  --pink: #ffc4d1ff;
  font-family: "Host Grotesk", sans-serif;
}
body{
  margin: 0;
}
.navBar{
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: var(--lavender-pink);
  color: var(--royal-blue-traditional);
  font-size: 20px;
  padding: 10px 20px;
}
.navBar>.routes,.navBar>.user{
  display: flex;
  gap:15px;
  align-items: center;
  justify-content: space-evenly;
}
.routes>a,.user>a{
  color: var(--royal-blue-traditional);
  display: flex;
  gap:5px;
  align-items: center;

}
a{
  text-decoration: none; /* no underline */
}
.user>button{
  background-color: var(--royal-blue-traditional);
  color: var(--honeydew);
  font-size: 15px;
  padding: 6px;
  border-radius: 5px;
}
.user>button:hover {
  background: var(--slate-gray)
}
